@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

$Moderate-cyan: hsl(176, 50%, 47%);
$Dark-cyan: hsl(176, 72%, 28%);
$Dark-gray: hsl(0, 0%, 48%);
$Bg-gray: #fafafa;

%tr {
  transition: 0.3s ease;
}

$tablet: 768px;
$ld: 580px;
$mobile: 480px;
$sd: 375px;

@mixin tablet {
  @media screen and(max-width: $tablet) {
    @content;
  }
}
@mixin ld {
  @media screen and(max-width: $ld) {
    @content;
  }
}
@mixin mobile {
  @media screen and(max-width: $mobile) {
    @content;
  }
}
@mixin sd {
  @media screen and(max-width: $sd) {
    @content;
  }
}
