*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
}

.wrapper {
  &.active {
    height: 100vh;
    overflow: hidden;
  }

  &.module-active {
    height: 1370px;
    overflow: hidden;
  }
}

.container {
  width: min(1110px, 100%);
  margin-left: auto;
  margin-right: auto;
}

.pad {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  background: rgba(black, 0.5);
  width: 100%;
}

body {
  font-family: "Commissioner", sans-serif;
  font-size: clamp(0.875rem, 0.5rem + 1vw, 1rem);
  font-weight: 400;
  background: $Bg-gray;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-weight: 700;
}

h1 {
  font-size: clamp(1.25rem, 4vw, 1.75rem);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: clamp(1.125rem, 3vw, 1.5rem);
}

h4 {
  font-size: clamp(1.125rem, 3vw, 1.25rem);
}

h5 {
  font-size: clamp(0.875rem, 2.5vw, 1.125rem);
}

p {
  color: $Dark-gray;
  line-height: 1.875;

  @include tablet {
    line-height: 1.7;
  }
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

.btn {
  padding: 1.125rem 2.5rem 1.1875rem;
  background: $Moderate-cyan;
  color: white;
  border-radius: 3rem;
  @extend %tr;

  &:hover {
    background: $Dark-cyan;
  }

  &:disabled {
    background: $Dark-gray;
    pointer-events: none;
  }

  &-medium {
    font-size: 0.875rem;
    padding: 0.9375rem 2rem 1rem;
  }

  &-small {
    font-size: 0.875rem;
    padding: 0.9375rem 1.5rem 1rem;
  }

  &-bookmark {
    color: $Dark-gray;
    display: flex;
    align-items: center;
    height: 3.5rem;
    padding-right: 1.5rem;
    border-radius: 3rem;
    background: rgba(black, 0.04);
    @extend %tr;

    @include mobile {
      position: relative;
      width: 3.5rem;
      min-width: 3.5rem;
      padding-right: unset;
      overflow: hidden;
      color: transparent;
    }

    &:hover {
      svg {
        opacity: 0.7;
      }
    }

    svg {
      display: block;
      margin-right: 1rem;
      pointer-events: none;
      @extend %tr;

      @include mobile {
        position: absolute;
        left: 0;
      }

      & * {
        @extend %tr;
      }
    }

    &.active {
      color: $Dark-cyan;

      @include mobile {
        color: transparent;
      }

      svg {
        circle {
          fill: $Dark-cyan;
        }

        path {
          fill: white;
        }
      }
    }
  }
}
