.modal-success {
  // padding-top: 43vh;
  height: 100vh;
  position: fixed;
  display: none;
  z-index: 1;

  // @include mobile {
  //   padding-top: 21vh;
  // }

  &.show-success {
    display: block;
  }

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(540px, 90%);
    background: white;
    border-radius: 0.5rem;
    border: 1px solid rgba(black, 0.05);
    padding: 3rem 3.5rem;
    text-align: center;

    @include ld {
      padding: 2rem 1.5rem 2.5rem;
    }
  }

  img {
    margin-bottom: 3rem;

    @include ld {
      margin-bottom: 1.5rem;
    }
  }

  h3 {
    margin-bottom: 1.25rem;
  }

  p {
    font-size: 0.9375rem;
    margin-bottom: 2.125rem;

    @include tablet {
      font-size: 0.875rem;
    }
  }

  .btn {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
